.header {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 83.4%;
    padding: 30px 8.3% 15px;
    height: 58px;
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 10%;
    background-color: transparent;
    transition: background-color 0.3s ease-in;
}

.header__scrolled {
    background-color: rgb(18, 18, 18, 0.6);
}

.header__logo {
    width: min-content;
    margin: 0;
    font-family: Prata;
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

.header__navigation {
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 29px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.header__li {
    width: min-content;
    white-space: nowrap;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-style: italic;
    font-size: 1rem;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 4%;
    text-transform: uppercase;
    transition: opacity 0.1s ease-in;
}

.header__li:hover {
    opacity: 0.7;
}

@media screen and (max-width: 1400px) {
    .header {
        background-color: rgb(34, 34, 34, 0.6);
    }
}

@media screen and (max-width: 530px) {
    .header {
        justify-content: space-between;
    }
    .header__navigation {
        flex-direction: column;
        align-items: end;
    }
}